<p>Add New Card</p>

<form action="/trading_cards" method="POST">
  <p>name: <input type="text" name="name"></p>
  <p>element: <input type="text" name="element"></p>
  <p>hp: <input type="text" name="hp"></p>
  <p>set: <input type="text" name="set"></p>

  <input type="submit" value="Add New Card">
</form>